@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  /* colors */
  --text-color: black;
  --text-btn: white;

  /* background colors */
  --bg-color: hsl(32, 67%, 82%);
  --bg-btn: hsl(29, 25%, 23%);
  --bg-btn-hover: hsl(29, 25%, 13%);
}

.theme-dark {
  /* colors */
  --text-color: white;
  --text-btn: black;

  /* background colors */
  --bg-color: hsl(207, 26%, 17%);
  --bg-btn: hsl(200, 60%, 40%);
  --bg-btn-hover: hsl(200, 60%, 30%);
}

*,
*::before,
*::after {
  margin: 0;
  z-index: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
.app,
#root {
  height: 100vh;
  min-width: 320px;
  scrollbar-width: none;
}

button {
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.2em;
}

textarea {
  resize: none;
}

.dragging {
  opacity: 0.5;
  border: 2px dashed black;
  background-color: var(--bg-color);
}
